{% extends 'chat/base.html' %}

{% load static %}

{% block heads %}
    <div >
    {% for article in posts %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h2>
                <p class="card-text">{{ article.description }}</p>
                <a href="{{ article.url }}" target="_blank">Read More</a>
                <br>
            </div>
        </div> 
    {% endfor %}
    <div class="clearfix"></div>
    </div>
{% endblock %}