{% extends 'profileapp/index.html' %}
{% load static %}


{% block profile1 %}

		<div class="row">
			<div class="col-md-12">
				<form onsubmit="return resetValidate()" action="{% url 'change_password' %}" method="post"
					id="logform" name="logform">
					<!-- {{error}} -->
					{% include 'profileapp/notification.html' %}
					{% csrf_token %}					
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-6 control-lable" for="Current Password">Current Password</label>
							<div class="col-md-9">
								<input type="password" id="currentpassword" name="current_password"
								placeholder="Current Password" class="form-control input-sm" />
								<span id="current" style="font-size:12px;margin-top:-5px;" class="text-danger font-weight-bold"></span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-6 control-lable" for="New Password">New Password</label>
							<div class="col-md-9">
								<input type="password" id="newpassword" name="new_password"
								placeholder="New Password" class="form-control input-sm"/>
								<span id="new" style="font-size:12px;margin-top:-5px;" class="text-danger font-weight-bold"></span>
							</div>
						</div>
					</div>
						
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-6 control-lable" for="cpassword">Confirm Password</label>
							<div class="col-md-9">
								<input type="password" id="confirmpassword" name="confirm_password"
								placeholder="Confirm Password" class="form-control input-sm"/>
								<span id="confirm" style="font-size:12px;margin-top:-5px;" class="text-danger font-weight-bold"></span>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="form-group col-md-12">
							<button class="btn btn-primary btn-sm" style="color: white;height: 50px;width: 210px;margin-left: 150px;" type="submit" >Change Password</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	

<script type="text/javascript">
	function resetValidate() {

		var val = document.getElementById('currentpassword').value;
		if(val=="")
		{
			document.getElementById('current').innerHTML="**Password can't be null!!";
			return false;
		}
		else{
			document.getElementById('current').value = "";
		}
		 
		var val = document.getElementById('newpassword').value;
		if(val=="")
		{
			document.getElementById('new').innerHTML="**Password can't be null!!";
			return false;
		}
		else{
			document.getElementById('new').value = "";
		}
		if (!val.match(/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/)) 
		{
			document.getElementById('new').innerHTML="**Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters'";
			return false;
		}
		else{
			document.getElementById('new').value = "";
		}

		var val = document.getElementById('confirmpassword').value;
		if(val=="")
			{
				document.getElementById('confirm').innerHTML="**Password can't be null!!";
				return false;
			}
			else{
			document.getElementById('confirm').value = "";
		}

		if(val != document.getElementById('newpassword').value){
		document.getElementById('confirm').innerHTML="**passwords should be matching";
		return false;
		}
		else{
		document.getElementById('confirm').innerHTML="";
		}
}
  

function npasswordValidation(inputTxt){

var textField = document.getElementById("current");
	
if(inputTxt.value != '' ){
	textField.textContent = '';
	textField.style.color = "green";  
}else{
	textField.textContent = '**Password cannot be null!!';
	textField.style.color = "red";
}
}



	function passwordValidation(inputTxt){

	var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/;
	var textField = document.getElementById("new");
		
	if(inputTxt.value != '' ){
			if(inputTxt.value.match(regx)){
				textField.textContent = '';
				textField.style.color = "green";
					
			}else{
				textField.textContent = 'Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters';
				textField.style.color = "red";
			}    
	}else{
		textField.textContent = '**Password cannot be null!!';
		textField.style.color = "red";
	}
}

function cpasswordValidation(inputTxt){

var regx =  document.getElementById("confirmpassword").value;
var regy =  document.getElementById("newpassword").value;
var textField = document.getElementById("confirm");
	
if(inputTxt.value != '' ){
		if(regx == regy){
			textField.textContent = '';
			textField.style.color = "green";
				
		}else{
			textField.textContent = '**password should be matching';
			textField.style.color = "red";
		}    
}else{
	textField.textContent = '**Password cannot be null!!';
	textField.style.color = "red";
}
}


</script>




{% endblock %}