{% extends 'profileapp/layout2.html' %}
{% load static %}


{% block body %}

<div class="user-box">
    <div>
        <center>
            <img src="{% static 'profileapp/Images/imagebg.png' %}" height="45em" style="margin-bottom: 2vh;">
            <h3>Please reset your password</h3><br>
        </center>
    </div>

    <form  onsubmit="return resetValidate()" action="{% url 'resetPassword' %}" method="post"
						id="logform" name="logform">
						{% include 'profileapp/notification.html' %}
						{% csrf_token %}
                        <!-- <center>
                        <label for="username"><i>Please reset your password</i></label>
                        </center> -->
                        <!-- <label for="username">New Password</label> -->
                        <div class="form-group">
                            <input class="form-control inp usrnm" type="password" name="newpass" placeholder="New Password">
                        </div>
                        <!-- <label for="username">Confirm Password</label> -->
                        <div class="form-group">
                            <input class="form-control inp pswd" type="password" name="conpass" placeholder="Confirm Password">
                            <span class="star"><small>{{message}}</small></span>
                        </div>

						<center>
                            <input class="btn btn-primary" type="submit" value="Reset Password" style="margin-top: 10px; width: 95%;" disabled>
                        </center>
		
					</form>

</div>


<script type="text/javascript">
    function resetValidate() {
        var val = document.getElementById('new_password').value;
            if(val=="")
            {
                document.getElementById('new').innerHTML="**Password can't be null!!";
                return false;
            }
            else{
                document.getElementById('new').value = "";
            }
            if (!val.match(/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/)) 
            {
                document.getElementById('new').innerHTML="**Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters'";
                return false;
            }
            else{
                document.getElementById('new').value = "";
            }

            var val = document.getElementById('confirm_password').value;
            if(val=="")
                {
                    document.getElementById('confirm').innerHTML="**Password can't be null!!";
                    return false;
                }
                else{
                document.getElementById('confirm').value = "";
            }

            if(val != document.getElementById('new_password').value){
            document.getElementById('confirm').innerHTML="**passwords should be matching";
            return false;
            }
            else{
            document.getElementById('confirm').innerHTML="";
            }
    }

    function passwordValidation(inputTxt){
    
    var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/;
    var textField = document.getElementById("new");
        
    if(inputTxt.value != '' ){
            if(inputTxt.value.match(regx)){
                textField.textContent = '';
                textField.style.color = "green";
                    
            }else{
                textField.textContent = 'Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters';
                textField.style.color = "red";
            }    
    }else{
        textField.textContent = '**Password cannot be null!!';
        textField.style.color = "red";
    }
}

function cpasswordValidation(inputTxt){
    
    var regx =  document.getElementById("confirm_password").value;
    var regy =  document.getElementById("new_password").value;
    var textField = document.getElementById("confirm");
        
    if(inputTxt.value != '' ){
            if(regx == regy){
                textField.textContent = '';
                textField.style.color = "green";
                    
            }else{
                textField.textContent = '**password should be matching';
                textField.style.color = "red";
            }    
    }else{
        textField.textContent = '**Password cannot be null!!';
        textField.style.color = "red";
    }
}

</script>

{% endblock  %}
